* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 5px;
    text-align: center;
    border-left: 4px solid gold;
    border-radius: 5px;
    color: wheat;
    font-size: 2em;
}


.login-Rejecte {
    background: red;
}

.login-Success {
    background: green;
}

#check {
    width: 3%;
    transform: translate(6px,2px);
    display: flex;
    align-items: center;
}